html, body {
	color: black;
	font-family: Tahoma, sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
  background-color: white;
  padding: 50px 20px;
}

h1 {
    border-bottom: solid 2px #006385;
    color: #006385;
    font: 32px Helvetica,Arial,sans-serif;
    font-weight: 300;
}
h1 a {
    float: right;
}

a {
    color: #005e9d;
}